<!--
Principle Author: Connor Clarkson
This is the confirmation view for when the user submits an order and this will display all the information for that order
-->
@using System.Net.NetworkInformation
@model FinancialEnterpriseGenie.Models.Receipt
@{
    ViewData["Title"] = "Receipt";
    Layout = "_Layout";
}
<style>
    .test {
        padding-bottom: 2vh
    }

    h1 {
        padding-top: 1vh
    }

    h2 {
        padding-bottom: 2vh
    }
</style>
<div style="height: 5vh"></div>
<div class="text-center container border bg-grey">
    <h1 class="test">Order Confirmation</h1>
    <div class="row form-block">
        <div class="col border bg-light">
            <h2>Product</h2>
            <p>
                @Model.Item.ProductName | @Model.Item.MRP.ToString("C") each | @Model.Quantity
                @if (Model.Quantity > 1)
                {
                    <span>units</span>
                }
                else
                {
                    <span>unit</span>
                }
            </p>
            <label>
                Shipping Method: @Model.Distributor.ShippingMethod | @Model.Distributor.TimeToShip
                @if (Model.Distributor.TimeToShip > 1)
                {
                    <span>days</span>
                }
                else
                {
                    <span>day</span>
                }
            </label>
        </div>
        <div class="col border bg-light">
            <h2>Delivery Estimate</h2>
            <div>
                <label>
                    Today's Date: @Model.Date.ToString("yy-MMM-dd ddd")
                </label>
                <p>Estimated Delivery: @Model.ReceiveDate.ToString("yy-MMM-dd ddd")</p>
            </div>
        </div>
        <div class="col border bg-light">
            <h2>Order Price</h2>
            <div>
                <label>Shipping Price: @Model.Distributor.ShipPrice.ToString("C")</label>
                <p>Tax: @Model.Tax.ToString("C")</p>
                <p>Total: @Model.Total.ToString("C")</p>
            </div>
        </div>
    </div>
</div>
