@model GraphForm
@{
    ViewData["Title"] = "statistics";
    Layout = "_Layout";
}

@section head {
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                @{ Graph graph = ViewBag.Graph;}
                animationEnabled: true,
                title: {
                    text:  "@Html.Raw(graph.name)"
                },
                toolTip: {
                    shared: "@Html.Raw(graph.shared)"
                },
                axisX: {
                    @if (graph.xValueFormatString != null) {<text>xValueType: "@Html.Raw(graph.xValueFormatString)",</text>}
                    @if (graph.xPrefix != null) {<text>prefix: "@Html.Raw(graph.xPrefix)",</text>}
                    @if (graph.xTitle != null) {<text>title: "@Html.Raw(graph.xTitle)",</text>}
                },
                axisY: {
                    @if (graph.yValueFormatString != null) {<text>xValueType: "@Html.Raw(graph.yValueFormatString)",</text>}
                    @if (graph.yPrefix != null) {<text>prefix: "@Html.Raw(graph.yPrefix)",</text>}
                    @if (graph.yTitle != null) {<text>title: "@Html.Raw(graph.yTitle)",</text>}
                    includeZero: true
                },
                data: [
                    @{ int count = graph.elements.Count;}
                    @for (int i = 0; i < count; i++) { <text>
                    {
                        @{Element element = graph.elements[i];}
                        type: "@Html.Raw(element.type)",
                        @if (element.xValueType != null) {<text>xValueType: "@Html.Raw(element.xValueType)",</text>}
                        @if (element.yValueType != null) {<text>yValueType: "@Html.Raw(element.yValueType)",</text>}
                        xValueFormatString: "@Html.Raw(element.xValueFormatString)",
                        yValueFormatString: "@Html.Raw(element.yValueFormatString)",
                        name: "@Html.Raw(element.name)",
                        showInLegend: true,
                        dataPoints: @Html.Raw(element.dataToJson())
                    }</text> @if (i < (count-1)) {<text>,</text>} }]
            });
            chart.render();

        }
    </script>
}

<div class="row m-3">
    <div class="col-4">
        <div class="form-block bg-grey">
            <div class="display-4">@ViewBag.Graph.name</div>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui eros, placerat nec pretium quis,
            imperdiet at lectus. Etiam lacinia sagittis elit, eget accumsan arcu facilisis vitae. Donec maximus mauris
            id tincidunt convallis. Maecenas ut sollicitudin nibh, nec porttitor est. Integer vitae sapien suscipit, iaculis arcu sed,
            aliquet massa. Sed ut rutrum erat, nec ultrices mauris. Vestibulum at ex sollicitudin, dignissim dolor a, tempus libero.

            <div class="vpad-sm"></div>
            <form asp-action="Index" method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-block bg-info text-light h-100">
                            <div class="lead text-light">Select Elements To Display</div>
                            <span class="text-danger small" asp-validation-for="ChosenItems"></span>
                            @{ List<Item> items = ViewBag.Items;}
                            @for (int i = 0; i < items.Count; i++)
                            {
                                <input class="form-check-input" type="checkbox" asp-for="ChosenItems" value="@items[i].Id" id="Item @items[i].Id">
                                <label class="form-check-label" asp-for="ChosenItems">
                                    @items[i].ProductName
                                </label>
                            }
                            <div class="vpad-sm"></div>
                            <button type="submit" class="btn btn-warning form-block text-dark">
                                Generate Graph
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-block bg-info text-light">
                            <div class="lead text-light">Select Graph Information</div>
                            <div class="form-group">
                                <label asp-for="Type">Graph Type</label>
                                <span class="text-danger small" asp-validation-for="Type"></span>
                                <select id="Type" asp-for="Type" class="form-control">
                                    @{ string[] graphTypeList = ViewBag.GraphTypeList;}
                                    @for (int i = 0; i < graphTypeList.Length; i++)
                                    {
                                        @if (i == 0)
                                        {
                                            <option selected>@graphTypeList[i]</option>
                                        }
                                        else
                                        {
                                            <option>@graphTypeList[i]</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumWeeks">DataPoint Size</label>
                                <span class="text-danger small" asp-validation-for="NumWeeks"></span>
                                <input type="number" asp-for="NumWeeks" class="form-control" id="NumWeeks" placeholder="Number of Weeks Per DataPoint > 0">
                            </div>
                        </div>
                        <br />
                        <div class="form-block bg-warning text-dark row">
                            <div class="lead">Time Span</div>
                            <div class="form-group col">
                                <label asp-for="MinDate"></label>
                                <span class="text-danger small" asp-validation-for="MinDate"></span>
                                <input class="form-control" type="date" asp-for="MinDate" placeholder="From Date" />
                            </div>
                            <div class="form-group col">
                                <label for="MaxDate"></label>
                                <span class="text-danger small" asp-validation-for="MaxDate"></span>
                                <input class="form-control" type="date" asp-for="MaxDate" placeholder="To Date" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8 border rounded">
        <div id="chartContainer" style="height: 100%; width: 100%;"></div>
    </div>
</div>

