@model GraphForm
@{
    ViewData["Title"] = "statistics";
    Layout = "_Layout";
}

@section head {
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                @{ Graph graph = ViewBag.Graph;}
                animationEnabled: true,
                title: {
                    text:  "@Html.Raw(graph.name)"
                },
                toolTip: {
                    shared: "@Html.Raw(graph.shared)"
                },
                axisX: {
                    @if (graph.xValueFormatString != null) {<text>xValueType: "@Html.Raw(graph.xValueFormatString)",</text>}
                    @if (graph.xPrefix != null) {<text>prefix: "@Html.Raw(graph.xPrefix)",</text>}
                    @if (graph.xTitle != null) {<text>title: "@Html.Raw(graph.xTitle)",</text>}
                },
                axisY: {
                    @if (graph.yValueFormatString != null) {<text>xValueType: "@Html.Raw(graph.yValueFormatString)",</text>}
                    @if (graph.yPrefix != null) {<text>prefix: "@Html.Raw(graph.yPrefix)",</text>}
                    @if (graph.yTitle != null) {<text>title: "@Html.Raw(graph.yTitle)",</text>}
                    includeZero: true
                },
                data: [
                    @{ int count = graph.elements.Count;}
                    @for (int i = 0; i < count; i++) { <text>
                    {
                        @{Element element = graph.elements[i];}
                        type: "@Html.Raw(element.type)",
                        @if (element.xValueType != null) {<text>xValueType: "@Html.Raw(element.xValueType)",</text>}
                        @if (element.yValueType != null) {<text>yValueType: "@Html.Raw(element.yValueType)",</text>}
                        xValueFormatString: "@Html.Raw(element.xValueFormatString)",
                        yValueFormatString: "@Html.Raw(element.yValueFormatString)",
                        name: "@Html.Raw(element.name)",
                        showInLegend: true,
                        dataPoints: @Html.Raw(element.dataToJson())
                    }</text> @if (i < (count-1)) {<text>,</text>} }]
            });
            chart.render();
        }
    </script>
}

<div class="row m-3">
    <div class="col-lg-12 col-xl-4">
        <div class="form-block bg-grey">
            <div class="display-4">@ViewBag.Graph.name</div>
            <div class="vpad-sm"></div>
            <form asp-action="Index" method="post" class="form-block bg-info text-light">
                <label asp-for="Type">Graph Type</label>
                <span class="text-warning small" asp-validation-for="Type"></span>
                <select id="Type" asp-for="Type" class="form-control">
                    @{ string[] graphTypeList = ViewBag.GraphTypeList;}
                    @for (int i = 0; i < graphTypeList.Length; i++)
                    {
                        @if (i == 0)
                        {
                            <option selected>@graphTypeList[i]</option>
                        }
                        else
                        {
                            <option>@graphTypeList[i]</option>
                        }
                    }
                </select>
                <div class="form-group">
                    <label asp-for="NumWeeks">DataPoint Size</label>
                    <input type="number" asp-for="NumWeeks" class="form-control" id="NumWeeks" placeholder="Number of Weeks Per DataPoint > 0">
                    <span class="text-warning small" asp-validation-for="NumWeeks"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="lead">Select elements to display</div>
                        @{ List<Item> items = ViewBag.Items;}
                        @for (int i = 0; i < items.Count; i++)
                        {
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" asp-for="ChosenItems[i]" value="true" id="Item @items[i].Id">
                                <label class="custom-control-label" for="Item @items[i].Id">@items[i].ProductName</label>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <div class="lead">Time Span</div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Min Date</label> <br />
                                    <div class="btn-group bg-white rounded">
                                        <select class="btn d-flex" asp-for="MinDay" asp-items="DateSelect.Days">
                                        </select>
                                        <select class="btn d-flex" asp-for="MinMonth" asp-items="DateSelect.Months">
                                        </select>
                                        <select class="btn d-flex" asp-for="MinYear" asp-items="DateSelect.Years">
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Max Date</label> <br />
                                    <div class="btn-group bg-white rounded">
                                        <select class="btn dropdown" asp-for="MaxDay" asp-items="DateSelect.Days">
                                        </select>
                                        <select class="btn" asp-for="MaxMonth" asp-items="DateSelect.Months">
                                        </select>
                                        <select class="btn" asp-for="MaxYear" asp-items="DateSelect.Years">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-block text-dark">Generate Graph</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8 border rounded">
        <div id="chartContainer" style="height: 100%; width: 100%;"></div>
    </div>
</div>

